<h2>Latest posts</h2>
<br />
<% @results.each do |post| %>
	<p>
		<%= post['post'] %>
		<br />
		<br />
		Added at <%= post['created_at'] %> by <%= post['author'] %>
		<br />
		<a href="/details/<%= post['id'] %>">Comments </a>
	</p>
	<hr />
<% end %>